client

# dependencies
/client/node_modules
/client/.pnp
/client.pnp.js
/client
# testing
/client/coverage
/client
# production
/client/build
/client
# misc
/client.DS_Store
/client.env.local
/client.env.development.local
/client.env.test.local
/client.env.production.local
/client
/clientnpm-debug.log*
/clientyarn-debug.log*
/clientyarn-error.log*
/client
/client


frontend/node_modules
frontend/README.md
server/node_modules
server/README.md



